$primary: #ea9f04;
$default: #fff;
$link: #ea9f04;
$hover: #ea9f04;
$content: #313131;

$pd_10: 10px;
$w_100: 100%;
$h_100: 100%;

// $click: #3245d9;
// $normal: #4762fe;
// $title: #212121;
// $disable: #bbbbbb;
// $border: #cccfd4;
// $dividers: #e6e9ee;
// $background: #f5f7f8;
// $success: #0cb204;
// $warning: #faad14;
// $error: #ff4401;
