$primary: #4762fe;
$brand: #4762fe;
$click: #3245d9;
$normal: #4762fe;
$hover: #708aff;
$title: #212121;
$default: #333333;
$disable: #bbbbbb;
$border: #cccfd4;
$dividers: #e6e9ee;
$background: #f5f7f8;
$link: #4762fe;
$success: #0cb204;
$warning: #faad14;
$error: #ff4401;
